.admin-panel-page {
  padding: 20px;

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}
